{% extends '::layout.html.twig' %}


{%block titulo  %} Bienvenido en la Portada{% endblock %}

{% block slider %}
<div class="hero-unit">
	<h1> Hello, world! </h1>
	<p>
		This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
	</p>
	<p>
		<a class="btn btn-primary btn-large" href="#">Learn more >></a>
	</p>
</div>
{% endblock %}


{% block articulo %}
<div class="span12">
	<div class="span4">
		<h3 class="text-center text-info"> Lista Empleados. </h3>
		{% for empleado in empleados %}
		<div class="media well">
			<a href="{{ path('detail_empleado', { 'id': empleado.id }) }}" class="pull-left"><img src="{{ asset('img/user.png') }}" class="media-object" alt=""></a>
			<div class="media-body">											 
				 <table >
					<thead>
						<tr>
							<th colspan="2">
							<a href="{{ path('detail_empleado', { 'id': empleado.id }) }}" class="pull-left">
							<h4 class="media-heading"> {{ empleado.nombreCompleto }} </h4></a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>puesto</td>
						</tr>													
					</tbody>
				</table>											 
			</div>
		</div>
		{% endfor %}
	</div>	
		
	<div class="span4">
		<h3 class="text-center text-info"> Lista Ordenadores. </h3>
		{% for ordenador in ordenadores %}
		<div class="media well">
			<a href="{{ path('detail_ordenador', { 'id': ordenador.id }) }}" class="pull-left"><img src="{{ asset('img/pc.png') }}" class="media-object" alt=""></a>
			<div class="media-body">											 
				 <table >
					<thead>
						<tr>
							<th colspan="2">
							<a href="{{ path('detail_ordenador', { 'id': ordenador.id }) }}" class="pull-left">
							<h4 class="media-heading"> {{ ordenador.alias }} </h4></a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ ordenador.descripcion }}</td>
						</tr>													
					</tbody>
				</table>											 
			</div>
		</div>
		{% endfor %}
	</div>	
	
	<div class="span4">
		<h3 class="text-center text-info"> Lista Impresoras. </h3>
		{% for impresora in impresoras %}
		<div class="media well">
			<a href="{{ path('detail_impresora', { 'id': impresora.id }) }}" class="pull-left"><img src="{{ asset('img/print2.png') }}" class="media-object" alt=""></a>
			<div class="media-body">
				 <table >
					<thead>
						<tr>
							<th colspan="2"><a href="{{ path('detail_impresora', { 'id': impresora.id }) }}" class="pull-left">
					<h4 class="media-heading"> {{ impresora.alias }} </h4></a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ impresora.marca }}</td>
							<td>{{ impresora.tipo }}</td>
						</tr>													
					</tbody>
				</table>
				 
			</div>
		</div>
		{% endfor %}
	</div>
	
	<div class="span4">
		<h3 class="text-info text-center"> Lista Moviles. </h3>
		{% for movil in moviles %}
		<div class="media well">
			<a href="{{ path('detail_movil', { 'id': movil.id }) }}" class="pull-left"><img src="{{ asset('img/movel.png') }}" class="media-object" alt=""></a>
			<div class="media-body">
				 <table>
				 <table >
					<thead>
						<tr>
							<th colspan="2">
							<a href="{{ path('detail_movil', { 'id': movil.id }) }}" class="pull-left">
							<h4 class="media-heading"> {{ movil.modelo }} </h4></a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ movil.numero }}</td>
						</tr>													
					</tbody>
				</table>
				 
			</div>
		</div>
		{% endfor %}																		
	</div>
</div>
							
{% endblock %}