{% extends '::layout_admin.html.twig' %}

{% block titulo %}Edicion de la impresora{% endblock %}

{% block contenedor %}
<div class="span12">
			<div class="span3">
				<ul class="nav nav-list well">
					<li class="nav-header">
						List header
					</li>
					<li class="active">
						<a href="{{ path('impresora') }}">Lista Impresora</a>
			</li>
			<li>
				<a href="{{ path('impresora_new') }}">Crear Nueva</a>
			</li>
			<li class="divider">
			</li>
			<li>
				<a href="#">Help</a>
			</li>
		</ul>
	</div>
	<div class="span9">
	<form action="{{ path('impresora_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
		{{ form_widget(edit_form) }}
	 	<p>
			<button type="submit" value="Guardar" class="btn btn-info">Guardar</button>
			<form action="{{ path('impresora_delete', { 'id': entity.id }) }}" method="post">
				<button type="submit" value="Eliminar" class="btn btn-warning">Eliminar</button>
			</form>
		</p>
		</form>
	</div>
</div>
{% endblock %}