{% extends '::layout_admin.html.twig' %}

{% block titulo %}Creacion de Nueva impresora{% endblock %}

{% block contenedor %}
	<div class="span12">
				<h3 class="text-panel"> Crear impresora</h3>
				<div class="span3">
					<ul class="nav nav-list well">
						<li class="nav-header">
							List header
						</li>
						<li class="active">
							<a href="{{ path('impresora') }}">Lista Impresoras</a>
						</li>
						<li>
							<a href="{{ path('impresora_new') }}">Crear Nueva</a>
						</li>
						<li>
							<a href="#">Help</a>
						</li>
					</ul>
				</div>
				<div class="span9">
					<form action="{{ path('impresora_create') }}" method="post" {{ form_enctype(form) }}>
					    {{ form_widget(form) }}
					    <p>
					        <button type="submit" class="btn btn-info">Guardar</button>
					    </p>
					</form>
				</div>
			</div>
	</div>
{% endblock %}