{% extends '::layout_admin.html.twig' %}

{% block titulo %}Dar De Alta{% endblock %}

{% block contenedor %}
<div class="span12">
				<h3 class="text-panel">Crear Empleado</h3>
				<div class="span3">
					<ul class="nav nav-list well">
						<li class="nav-header">
							List header
						</li>
						<li class="active">
							<a href="{{ path('empleado') }}">Lista Empleados</a>
						</li>
						<li>
							<a href="{{ path('empleado') }}">Crear Nuevo</a>
						</li>
						<li class="divider">
						</li>
						<li>
							<a href="#">Help</a>
						</li>
					</ul>
				</div>
				<div class="span9">
					<form action="{{ path('empleado_create') }}" method="post" {{ form_enctype(form) }}>
						{{ form_widget(form) }}	
						<br>
						<button type="submit" class="btn btn-info">Guardar</button>
					 
					</form>
				</div>
</div>
{% endblock %}